.custom-table {
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #b1cee3;
  width: 80%;
  margin: 20px auto 0 auto;
  padding: 10px;
  border-radius: 20px;
}

.custom-table th, 
.custom-table td {
  border-right: 1.5px solid #002A8C;
  border-bottom: 1.5px solid #002A8C;
  text-align: center;
  padding: 8px;
}

.custom-table td:last-child, 
.custom-table th:last-child {
  border-right: none;
}

.custom-table tr:last-child td {
  border-bottom: none;
}

.custom-table tr:nth-child(even){
  background-color: #274760 !important;
  color: #ffffff !important;
  border: 1px solid #ffffff;
}


.custom-table thead {
  background-color: #002A8C !important;
  color: white !important;
}

.star-rating {
  font-size: 1.25rem;
  color: #ffc107; 
  user-select: none;
}

#starsContainer span {
  color: gold;
  font-size: 2rem;
  transition: transform 0.1s ease;
}

#starsContainer span:hover {
  transform: scale(1.2);
}

.modal-dialog {
  margin-top: 10%; 
}

.rating-input {
  max-width: 70px;
}

form.d-flex {
  flex-wrap: wrap;
}

@media (max-width: 576px) {
  .overlay h1 {
    font-size: 2rem;
  }

  .overlay p {
    font-size: 1rem;
  }

  .star-rating {
    font-size: 1rem;
  }

  .rating-input {
    max-width: 60px;
  }
}